.add-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-field {
    text-align: left;
    width: 75%;
    height: 15%;
}
.submit-button {
    width: 10%;
    height: 5%;
}