.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
}

.activity {
    margin-bottom: 3px;
}

.form-field {
    text-align: left;
    width: 25%;
}
.submit-button {
    width: 20%;
}

.update-password h3 {
    margin-top: 5%;
}

.review {
    margin-top: -3.5%;
}

.com {
    margin-bottom: 1%;
}

.movie-card-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.activity-poster {
    box-shadow: 0 10px 6px -6px #777;
    min-width: 14vw;
    min-height: 35vh;
    max-height: 35vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.activity-info {
    display: flex;
    flex-direction: column;
}