@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
}

.activity {
    margin-bottom: 3px;
}

.form-field {
    text-align: left;
    width: 25%;
}
.submit-button {
    width: 20%;
}

.update-password h3 {
    margin-top: 5%;
}

.review {
    margin-top: -3.5%;
}

.com {
    margin-bottom: 1%;
}

.movie-card-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.activity-poster {
    box-shadow: 0 10px 6px -6px #777;
    min-width: 14vw;
    min-height: 35vh;
    max-height: 35vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.activity-info {
    display: flex;
    flex-direction: column;
}

.success-message {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 2.5%;
    width: 30;
    border: 1px solid #0f5132;
    background-color: #badbcc;
    color: #0f5132;
    text-align: left;
    height: 7vh;
    line-height: 7vh;
    border-radius: 10px;
}

.loading {
    width: 10%;
	height: 10%;
    text-align: center;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}

.remove-button {
    margin-right: 1.5%;
}